APT::Periodic::Update-Package-Lists "{{ unattended_apt_periodic_update_package_lists }}";
APT::Periodic::Download-Upgradeable-Packages "{{ unattended_apt_periodic_download_upgradable_packages }}";
APT::Periodic::AutocleanInterval "{{ unattended_apt_periodic_autocleaninterval }}";
APT::Periodic::Unattended-Upgrade "{{ unattended_apt_periodic_automatic_upgrades }}";
